name: CI

on:
  pull_request:
    branches: ['main']
  push:
    branches-ignore: ['main']

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - run: pnpm install

      - name: Svelte check
        run: pnpm check

      - name: Build
        run: pnpm build
